@import './Variables.scss';
@import '../../theme/partials/_variables';
@import '../../theme/partials/_buttons';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
.post {
  a {
    color: $h-color !important;
    font-weight: 600;
    margin-bottom: 1.5rem;
    text-align: left;
    text-decoration: underline !important;
    text-decoration-color: #0be583 !important;
    transition: 500ms;
  }

  a:hover {
    background-color: #0be5836b !important;
    text-decoration: underline !important;
    text-decoration-color: #0be583 !important;
    color: $h-color !important;
  }
  p {
    margin-top: 2rem;
  }
  // line-height: 1.5;
  .heading {
    padding: 1rem 0;
    margin-bottom: 2rem;
    h2 {
      transition: 500ms;
      font-family: $sans-serif-font !important;
      font-weight: 800;
      color: $h-color;
      text-align: center !important;
      font-size: 2.4rem;
      padding: 0 10px;
      letter-spacing: 2px;
      margin-bottom: 0 !important;
      margin-top: 15px;
    }
  }

  .body {
    font-size: 1.3rem;
    width: 70%;
    margin: 0 auto;
    font-weight: 1.2;
    font-family: $body-font !important;

    h1 {
      color: $h-color;
      text-align: left;
      margin-left: 10px;
      font-family: $sans-serif-font !important;
      font-weight: 800;
    }

    h2 {
      font-family: $sans-serif-font !important;
      font-weight: 800;
      color: $h-color;
      text-align: left !important;
      // margin-left: 10px !important;
    }
    h3 {
      color: $p-color;
      font-family: $head-font, 'sens-serif';
    }

    h4 {
      color: $p-color;
    }

    h5,
    h6 {
      color: $p-color;
    }

    p {
      line-height: 1.8;
      color: $p-color;
      font-weight: 200;
    }

    @media (max-width: 600px) {
      width: 95%;
      margin: 0 auto;
    }

    h1 a {
      background-color: none !important;
      background: none !important;
    }

    ul:marker {
      color: #757ff8;
    }

    li::marker {
      color: #757ff8;
    }
  }
  img {
    width: 100% !important;
    height: auto !important;
    object-fit: contain !important;
  }

  .image {
    width: 100% !important;
    height: auto !important;
    object-fit: contain !important;
  }
}
