@import './Variables.css';
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import '../../theme/partials/_variables.css';

* {
  word-wrap: break-word !important;
}
.precode {
  background: linear-gradient(90deg, #ff4088, #fa8142) !important;
  color: white;
  /*font-family: $code-font !important;
	*/
  padding: 0.2rem;
  border-radius: 5px;
}
::-webkit-scrollbar {
  width: 10px !important;
  border-radius: 5px !important;
}
::-webkit-scrollbar-track {
  background: #22262f !important;
}
::-webkit-scrollbar-thumb {
  width: 10px !important;
  background: #fff !important;
  border-radius: 10px !important;
}
::-webkit-scrollbar-thumb:hover {
  background: #bbb !important;
}
