.basic-grid {
  padding-left: 10px;
  padding-right: 10px;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  cursor: default;
  text-align: center;
}

.card abbr {
  cursor: default;
}

abbr {
  cursor: default !important;
}

.card {
  cursor: default;
  outline: none !important;
  border: none;
}

@media screen and (max-width: 700px) {
  .basic-grid {
    padding: 5px;
    gap: 0.7rem;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 507px) {
  .basic-grid {
    padding: 5px;
    gap: 0.7rem;
    grid-template-columns: 1fr 1fr;
  }
}
