@import './partials/_variables';
@import './partials/_buttons';

input[type='text'] {
  padding: 0.6rem 1rem;
  border: 1px solid $secondary-color;
  background: $secondary-color;

  .full-width {
    display: flex;
    width: 100%;
  }
}

.form-border {
  &-danger {
    border: 1px solid $danger-color;
  }
}
