@import './_variables';
@import './_buttons';

.nav-svgs {
  padding-bottom: 10px;
}

.navbar {
  background: $gray5 !important;
  box-shadow: $nav-shadow !important;
  border: 1px solid #2a2e35;

  .container {
    background: $gray5 !important;
    display: flex;
    justify-content: space-between;
    top: 0;
  }

  .nav-ul {
    background: $gray5 !important;
    font-size: 1rem;
    display: flex;
    list-style: none !important;
    margin-bottom: 0rem !important;

    li {
      background: $gray5 !important;
      font-size: 1rem;
      list-style: none !important;
      text-align: center !important;

      .link {
        background: $gray5 !important;
        font-size: 1.2rem;
        text-decoration: none;
        display: block;
        transition: 500ms;
        padding-top: 0.3rem;
        padding-left: 0.7rem;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  #main-brand {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .navbar {
    .container {
      display: block;
    }

    .nav-ul {
      text-align: center !important;
      // padding-left: 0;
      font-size: 1rem;
      // justify-content: center;
      align-items: center;
      display: contents;

      li {
        font-size: 1rem;
        display: flex;
        text-align: center !important;
        background: $gray5;
      }
    }
  }
}

@media screen and (max-width: 340px) {
  .nav-ul {
    justify-content: center;
    align-items: center;
    display: contents;
  }
  #main-brand {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .link {
    text-align: center !important;
    font-size: 1rem !important;
  }
}

@media screen and (max-width: 300px) {
  #main-brand {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .link {
    font-size: 0.9rem !important;
  }
}

.link:hover {
  color: $gray0 !important;
}

.link {
  font-family: $head-font;
  font-size: 1rem;
  text-align: center !important;
  display: flex;
  background-color: $gray5;
  color: $p-color;
}

.nav-svgs span {
  display: none;
  opacity: 0;
}

.nav-svgs:hover {
  opacity: 1 !important;
}
