@import './_variables.css';
@import './_buttons.css';

.nav-svgs {
  padding-bottom: 10px 0;
}

#brand_logo_link {
  font-size: 2rem;
  text-decoration: none;
  color: var(--gray0);
  font-family: var(--sans-serif-font) !important;
  font-weight: var(--fw-8);
  font-variant: small-caps;
}

.navbar {
  background: var(--gray5) !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: var(--nav-color) !important;
  width: 100% !important;
}

.navbar .container {
  background: var(--nav-color) !important;
  display: flex;
  justify-content: space-evenly;
  top: 0;
  width: 100% !important;
}

.navbar .nav-ul {
  background: var(--nav-color) !important;
  font-size: 1rem;
  display: flex;
  list-style: none !important;
  margin-bottom: 0 !important;
}

.navbar .nav-ul li {
  background: var(--nav-color) !important;
  font-size: 1rem;
  list-style: none !important;
  text-align: center !important;
}

.navbar .nav-ul li .link {
  background: var(--nav-color) !important;
  font-size: 1.3rem;
  text-decoration: none;
  display: block;
  transition: 500ms;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 4px;
}

.navbar .nav-ul li .link:hover {
  background: #171e29 !important;
}

@media screen and (max-width: 800px) {
  #main-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .navbar {
    background: var(--nav-color) !important;
  }

  .navbar .container {
    display: block;
  }

  .navbar .link {
    padding-left: 0;
    padding-right: 0;
  }

  .navbar .nav-ul {
    text-align: center !important;
    font-size: 1rem;
    width: 100%;
    align-items: center;
    display: contents;
  }

  .navbar .nav-ul li {
    font-size: 1rem;
    display: flex;
    text-align: center !important;
    background: var(--nav-color);
  }
}

@media screen and (max-width: 360px) {
  .nav-ul {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: contents;
    font-size: 1.3rem;
  }

  #main-brand {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
  }

  .link {
    text-align: center !important;
    font-size: 1.3rem !important;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 450px) {
  #main-brand {
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .link {
    font-size: 1.3rem !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media screen and (max-width: 367px) {
  #main-brand {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
  }

  .link {
    font-size: 1.3rem !important;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 220px) {
  #main-brand {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
  }

  .link {
    font-size: 0.8rem !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.link:hover {
  color: var(--gray0) !important;
  background-color: #171e29 !important;
}

.link {
  font-family: var(--head-font);
  font-size: 1.3rem;
  text-align: center !important;
  display: flex;
  background-color: #2d2e2e;
  color: var(--p-color);
}
