@import './_variables';
@import './_buttons';

.nav-svgs {
  padding-bottom: 10px 0;
}

#brand_logo_link {
  font-size: 2rem;
  text-decoration: none;
  color: $gray0;
  font-family: $sans-serif-font !important;
  font-weight: $fw-8;
  font-variant: small-caps;
}

.navbar {
  background: $gray5 !important;
  box-shadow: $nav-shadow !important;
  border: 1px solid #2d2e2e;
  background: $nav-color !important;
  width: 100% !important;

  .container {
    background: $nav-color !important;
    display: flex;
    justify-content: space-evenly;
    top: 0;
    width: 100% !important;
  }

  .nav-ul {
    background: $nav-color !important;
    font-size: 1rem;
    display: flex;
    list-style: none !important;
    margin-bottom: 0rem !important;

    li {
      background: $nav-color !important;
      font-size: 1rem;
      list-style: none !important;
      text-align: center !important;

      .link {
        background: $nav-color !important;
        font-size: 1.2rem;
        text-decoration: none;
        display: block;
        transition: 500ms;
        padding-top: 0.3rem;
        padding-left: 2rem;
        padding-right: 2rem;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  #main-brand {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .navbar {
    background: $nav-color !important;
    .container {
      display: block;
    }

    .link {
      padding-left: 0rem;
      padding-right: 0rem;
    }

    .nav-ul {
      text-align: center !important;
      // padding-left: 0;
      font-size: 1rem;
      // justify-content: center;
      align-items: center;
      display: contents;

      li {
        font-size: 1rem;
        display: flex;
        text-align: center !important;
        background: $nav-color;
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .nav-ul {
    justify-content: center;
    align-items: center;
    display: contents;
    font-size: 0.9rem;
  }
  #main-brand {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .link {
    text-align: center !important;
    font-size: 1rem !important;
    padding-left: 0rem;
    padding-right: 0rem;
  }
}

@media screen and (max-width: 450px) {
  #main-brand {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .link {
    font-size: 0.9rem !important;
    padding-left: 0rem !important;
    padding-right: 0rem !important;
  }
}

@media screen and (max-width: 367px) {
  #main-brand {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .link {
    font-size: 0.9rem !important;
    padding-left: 0rem;
    padding-right: 0rem;
  }
}

@media screen and (max-width: 294px) {
  #main-brand {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .link {
    font-size: 0.7rem !important;
    padding-left: 0rem;
    padding-right: 0rem;
  }
}

.link:hover {
  color: $gray0 !important;
}

.link {
  font-family: $head-font;
  font-size: 1rem;
  text-align: center !important;
  display: flex;
  background-color: #2d2e2e;
  color: $p-color;
}
