@import './_variables.css';
@import './_buttons.css';

.showcase h1 {
  font-family: var(--sans-serif-font) !important;
  font-weight: var(--fw-5) !important;
  font-size: 4rem !important;
  color: var(--h-color) !important;
  margin: 1rem !important;
}

#gradient-text {
  background-image: linear-gradient(130deg, #02aab0, #00cdac);
  background-clip: text;
  color: transparent;
}
