@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@500&display=swap');

$primary-color: #1d1d1d;
$secondary-color: #0d1321;
$danger-color: #fd531f;
$indigo: #757ff8;
$red: #ff3860;
$red-dark: #ff1443;
$red-light: #ff5c7c;
$blue: #498afb;
$blue-dark: #2674fa;
$blue-light: #6ca0fc;
$orange: #fa8142;
$orange-dark: #f96a1f;
$orange-light: #fb9865;
$green: #09c372;
$green-dark: #07a15e;
$green-light: #0be586;
$purple: #9166cc;
$purple-dark: #7d4bc3;
$purple-light: #a481d5;
$pink: #ff4088;
$pink-dark: #ff1c72;
$pink-light: #ff649e;
$gray0: #f8f8f8;
$gray1: #dbe1e8;
$gray2: #b2becd;
$gray3: #6c7983;
$gray4: #454e56;
$gray5: #2a2e35;
$gray6: #12181b;
$p-color: #b2becd;
$h-color: #fff;
$box-shadow: '0 4px 8px rgba(0,0,0,0.38)';
$nav-shadow: '4px 0 10px -3px #010101';
$body-font: 'sofiapro';
$head-font: 'cubano';
$code-font: 'Fira Mono', monospace;
$button-font: 'sofiapro';
